<h1>My Personal Blog</h1>

<% @articles.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |article| %>
      <div class="col-md-4">
        <h4><%= link_to article.title, article %></h4>
        <%= article.content %>
      </div>
    <% end %>
  </div>
<% end %>
